.typeone {
    border-radius: 10px 10px 10px 10px;
    font-family: sans-serif;
    font-weight: bold;
    background: linear-gradient(#8ec3eb, #2a6592);
    box-shadow: 3px 3px 9px 3px #000,-3px 0px 9px 3px #000;
    margin: 50px 50px 100px 50px;
    padding: 15px;
    overflow: hidden
    }
.typetwo {
    border-radius: 10px 10px 10px 10px;
    font-family: sans-serif;
    font-weight: bold;
    background: linear-gradient(#f6d8ac, #db9833);
    box-shadow: 3px 3px 9px 3px #000,-3px 0px 9px 3px #000;
    margin: 50px 50px 100px 50px;
    padding: 15px;
    overflow: show
}
.typethree {
    border-radius: 10px;
    font-family: sans-serif;
    font-weight: bold;
    background: linear-gradient(#8ec3eb, #2a6592);
    box-shadow: 3px 3px 9px 3px #000,-3px 0px 9px 3px #000;
    margin: 100px 50px 100px 50px;
    padding: 50px;
    overflow: hidden
    }
.typefour {
    border-radius: 10px;
    font-family: sans-serif;
    font-weight: bold;
    background: linear-gradient(#f6d8ac, #db9833);
    box-shadow: 3px 3px 9px 3px #000,-3px 0px 9px 3px #000;
    margin: 100px 50px 100px 50px;
    padding: 50px;
    overflow: hidden
    }
.typefive {
    border-radius: 10px;
    font-family: sans-serif;
    font-weight: bold;
    background: linear-gradient(red, pink);
    box-shadow: 3px 3px 9px 3px #000,-3px 0px 9px 3px #000;
    margin: 100px 50px 100px 50px;
    padding: 50px;
    overflow: hidden
    }
.typesix {
    border-radius: 10px;
    font-family: sans-serif;
    font-weight: bold;
    background: linear-gradient(white, #BB0000);
    box-shadow: 3px 3px 9px 3px #000,-3px 0px 9px 3px #000;
    margin: 100px 50px 100px 50px;
    padding: 50px;
    overflow: hidden
    }
.typeseven {
    border-radius: 10px;
    font-family: sans-serif;
    font-weight: bold;
    background: linear-gradient(white, rgba(0,82,136,255));
    box-shadow: 3px 3px 9px 3px #000,-3px 0px 9px 3px #000;
    margin: 100px 50px 100px 50px;
    padding: 50px;
    overflow: hidden
    }
.typeeight {
    border-radius: 10px;
    font-family: sans-serif;
    font-weight: bold;
    background: linear-gradient(white, rgba(225,0,28,255));
    box-shadow: 3px 3px 9px 3px #000,-3px 0px 9px 3px #000;
    margin: 100px 50px 100px 50px;
    padding: 50px;
    overflow: hidden
    }
.collegediv{
        background-color: rgb(240,240,240);
        border-style: solid;
        border-color: black;
        font-weight: bold;
        box-shadow: -9px 9px 9px #000;
        border-radius: 10px;
        font-size:15px;
    }
.linkdiv{
        background-color: rgb(240,240,240);
        border-style: solid;
        border-color: black;
        font-weight: bold;
        box-shadow: -9px 9px 9px #000;
        border-radius: 10px;
        font-size:15px;
        word-wrap: break-word;
    }
.fancyheader {
    background-color: none;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
    padding: 0px 30px 15px 15px;
    color: white;
        letter-spacing: .0em;
        text-shadow: 
          0 -1px 0 #fff, 
          0 1px 0 #2e2e2e, 
          0 2px 0 #2c2c2c, 
          0 3px 0 #2a2a2a, 
          0 4px 0 #282828, 
          0 5px 0 #262626, 
          0 6px 0 #242424, 
          0 7px 0 #222, 
          0 8px 0 #202020, 
          0 9px 0 #1e1e1e, 
          0 10px 0 #1c1c1c, 
          0 11px 0 #1a1a1a, 
          0 12px 0 #181818, 
          0 13px 0 #161616, 
          0 14px 0 #141414, 
          0 15px 0 #121212, 
          0 22px 30px rgba(0, 0, 0, 0.9);
    }
.collegeheader {
        color: white;
        background-color: none;
        letter-spacing: .05em;
        text-shadow: 
          1px 1px 0px #2c2c2c, 
          4px 4px 0px rgba(0, 0, 0, 0.2);
        font-size: 50px;
     }
header {
    background-color: none;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
    font-style: italic;
    color: gray;
    padding: 0px;
    display: inline-block;
    }
body {
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(black, #7e9a9a);
    }
li {
    font-family: sans-serif;
    }
.infoli {
    margin-right: 50px;
    margin-left: 50px
    }

p {
    margin: 0px 10px 10px 10px;
    }
footer {
    background-color: dimgray;
    color: white;
    box-shadow: 0px 0px 100px 50px #000;
    overflow-wrap: break-word;
    margin: 0px;
    padding: 10px;
    border-style: solid;
    border-width: 5px;
    border-color:black;
    }
img {
    width:100px;
    }
.gsimg {
    width:500px;
}
nav{
    margin: -5px auto 10px auto;
    padding: 0;
    list-style: none;
    height: auto;
    width:100%;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 3px 3px 9px 3px #000,-3px 0px 9px 3px #000;
    left:0;
    right:0;
    position: fixed;
    }
nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    }
nav li{
    float: left;
    width: 25%;
    }
nav a:link, nav a:visited {
    display: block;
    width: 100%;
    background-color: black;
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
    }
nav a:hover, nav a:active {
    background-color: #7e9a9a;
    }
.collegeicon {
    float: left;
    width: 90px;
    background-color: none;
    box-shadow: none;
    border: none;
    border-radius: 5px;
    margin:0px;
    }
.blacklink{
        color: black;
        text-decoration: none;
        font-family: sans-serif;
    }
.blackheader{
        color:black;
        font-family: sans-serif;
        padding: 0px 20px 0px 20px;
        margin: 20px 10px 10px 10px;
    }
.smallheader{
    color:black;
    font-family: sans-serif;
    padding: 0px 20px 0px 20px;
    margin: 0px 10px 10px 10px;
    font-size: 25px;
}
.whiteheader{
        color:white;
        font-family: sans-serif;
        padding: 10px;
    }
sup a:link{
    font-size: 15px;
    }
table {
      border:1px solid black;
      margin: 10px;
    }
td {
        border:1px solid black;
        padding: 10px;
    }
th {
        background-color: lightgray;
        padding: 10px;
    }
    .dropbtn {
        background-color: #04AA6D;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: round;
        border-radius: 10px 10px 10px 10px;
      }
    .listbutton {
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
      .dropdown {
        position: relative;
        display: inline-block;
        margin-left: 50px;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown-content a:hover {background-color: #ddd;}
      
      .dropdown:hover .dropdown-content {display: block;}
      
      .dropdown:hover .dropbtn {background-color: #3e8e41;}