<!DOCTYPE html>
<html>
<head>
    <title>Theseus Indoor Navigation</title>
    <link rel="stylesheet" href="css/theseus.css">
    <link rel="icon" type="image/x-icon" href="images/logo.png">
	<meta name="author" content = "Roman">
	<meta name="description" content = "Theseus Indoor Navigation">
	<meta name="keywords" content = "Indoor Navigation">
	<meta name="copyright" content = "Golden Bears 2023">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <script type="text/javascript" src="js/getStarted.js"></script>
</head>
    <body>
        <nav>
		    <ul class = "navul">
                <li class = "navli"><a class="nav" href="theseus.html">Home</a></li>
                <li class = "navli"><a class="nav" href="getStarted.html">Get Started</a></li>
                <li class = "navli"><a class="nav" href="landmark.html">Find a Landmark</a></li>
                <li class = "navli"><a class="nav" href="feature.html">Find a Feature</a></li>
            </ul>
        </nav>
        <center>
            <br>
            <br>
            <img src="images/logo.png">
            <br>
            <header class="fancyheader">Theseus</header>
            <br>
            <header>Indoor navigation made simple</header>
        </center>
        <br>
        <div class='typetwo'>
	        <!-- first div on the page, contains information about job overview -->
            <div class="collegediv">
            <center>
	            <h1 class="blackheader">Get Started</h1>
            </center>
            <p> 
                <center>
                <div class="dropdown">
                    <button class="dropbtn">Choose a Campus Building v</button>
                    <div class="dropdown-content">
                      <button onclick="updateImage('union')" class="listbutton">Ohio Union</button>
                      <button onclick="updateImage('thompson')" class="listbutton">Thompson Library</button>
                      <button onclick="updateImage('rpac')" class="listbutton">RPAC</button>
                    </div>
                </div>
                <br>
                <br>
                    <img class="gsimg" id="image">
                    <br>
                    <br>
                    <div class="dropdown">
                        <button class="dropbtn">Pick starting location</button>
                        <div class="dropdown-content">
                            <button onclick="updateStartBox('1')" class="listbutton">1</button>
                                <button onclick="updateStartBox('101')" class="listbutton">101</button>
                                <button onclick="updateStartBox('102')" class="listbutton">102</button>
                                <button onclick="updateStartBox('103')" class="listbutton">103</button>
                                <button onclick="updateStartBox('104')" class="listbutton">104</button>
                            <button onclick="updateStartBox('2')" class="listbutton">2</button>
                                <button onclick="updateStartBox('201')" class="listbutton">201</button>
                                <button onclick="updateStartBox('202')" class="listbutton">202</button>
                                <button onclick="updateStartBox('203')" class="listbutton">203</button>
                                <button onclick="updateStartBox('204')" class="listbutton">204</button>
                            <button onclick="updateStartBox('3')" class="listbutton">3</button>
                                <button onclick="updateStartBox('301')" class="listbutton">301</button>
                                <button onclick="updateStartBox('302')" class="listbutton">302</button>
                                <button onclick="updateStartBox('303')" class="listbutton">303</button>
                                <button onclick="updateStartBox('304')" class="listbutton">304</button>
                            <button onclick="updateStartBox('4')" class="listbutton">4</button>
                                <button onclick="updateStartBox('401')" class="listbutton">401</button>
                                <button onclick="updateStartBox('402')" class="listbutton">402</button>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn">Pick destination</button>
                        <div class="dropdown-content">
                            <button onclick="updateDestinationBox('1')" class="listbutton">1</button>
                                <button onclick="updateDestinationBox('101')" class="listbutton">101</button>
                                <button onclick="updateDestinationBox('102')" class="listbutton">102</button>
                                <button onclick="updateDestinationBox('103')" class="listbutton">103</button>
                                <button onclick="updateDestinationBox('104')" class="listbutton">104</button>
                            <button onclick="updateDestinationBox('2')" class="listbutton">2</button>
                                <button onclick="updateDestinationBox('201')" class="listbutton">201</button>
                                <button onclick="updateDestinationBox('202')" class="listbutton">202</button>
                                <button onclick="updateDestinationBox('203')" class="listbutton">203</button>
                                <button onclick="updateDestinationBox('204')" class="listbutton">204</button>
                            <button onclick="updateDestinationBox('3')" class="listbutton">3</button>
                                <button onclick="updateDestinationBox('301')" class="listbutton">301</button>
                                <button onclick="updateDestinationBox('302')" class="listbutton">302</button>
                                <button onclick="updateDestinationBox('303')" class="listbutton">303</button>
                                <button onclick="updateDestinationBox('304')" class="listbutton">304</button>
                            <button onclick="updateDestinationBox('4')" class="listbutton">4</button>
                                <button onclick="updateDestinationBox('401')" class="listbutton">401</button>
                                <button onclick="updateDestinationBox('402')" class="listbutton">402</button>
                        </div>
                    </div>
                    <br>
                    <div>
                        <form>
                            <input class="text" id="from" placeholder="Starting location" readonly>
                            <input class="text" id="to" placeholder="Destination" readonly>
                            <input type="submit" value="Submit">
                        </form>
                        {{instructions}}
                    </div>
                </center>
	            </p>
            </div>
        </div>
    </body>
</html>