<!DOCTYPE html>
<html>
<head>
    <title>Theseus Indoor Navigation</title>
    <link rel="stylesheet" href="theseus.css">
    <link rel="icon" type="image/x-icon" href="logo.png">
	<meta name="author" content = "Roman">
	<meta name="description" content = "Theseus Indoor Navigation">
	<meta name="keywords" content = "Indoor Navigation">
	<meta name="copyright" content = "Golden Bears 2023">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
</head>
<body>
    <nav>
		<ul class = "navul">
  <li class = "navli"><a class="nav" href=".html">Help! I'm lost</a></li>
  <li class = "navli"><a class="nav" href=".html">Find a landmark</a></li>
  <li class = "navli"><a class="nav" href=".html">Find a feature</a></li>
  <li class = "navli"><a class="nav" href=".html">Links</a></li>
</ul>
</nav>
<center>
    <br>
    <br>
    <img src="logo.png">
    <br>
    <header class="fancyheader">Theseus</header>
    <br>
    <header>Indoor navigation made simple</header>
</center>
<br>
<div class='typeone'>
	<!-- first div on the page, contains information about job overview -->
<div class="collegediv">
    <center>
	<h1 class="blackheader">Interior Navigation Challenge</h1>
    </center>
    <p> 
    <h1 class="smallheader">Background</h1>
    <ul>
        <li class="infoli">Navigating large indoor complex spaces is often challenging due to complex layouts and the limitations of traditional aids
            like static maps, signs, and phone-based GPS.</li>
    </ul>
    <h1 class="smallheader">What is Theseus?</h1>
    <ul>
        <li class="infoli">Theseus is a python-based web application that helps users find their way through buildings
            through the usage of landmarks. Users can upload a photo of a landmark and recieve relative
            directions to their desired destination.
        </li>
    </ul>
	</p>
</div>
</div>

</body>
</html>